

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    padding: 15px;
    padding-top: 20px;
    margin-bottom: 0;

}

h2 {
    padding-left: 10px;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
}

.date {
    display:list-item;
    font-weight: lighter;
    text-align: end;
    padding-right: 40px;
    margin-bottom: 0;
}

header > span {
    display: block;
    font-style:inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
    margin: 0;
}

header > ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    justify-content:center;
    
}

nav ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0;
}

caption {
    font-size: 1.1em;
    font-weight: lighter;
    margin-bottom: 25px;
    caption-side: top;
}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    
}

th, td {
    text-align: left;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

tr {
    border-bottom: 1px solid #dddd;
    padding-top: 0;
    padding-bottom: 0;
}

article {
    width: 100%;
}

.experience {

}


















footer {
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid;
    text-align: center;
    font-weight: lighter;

}